<form #registerForm ="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <input type="text" class="form-control mb-3" name="username" [(ngModel)]="model.username" placeholder="Username" id="">
  </div>

  <div class="form-group">
    <input type="password" class="form-control mb-3" name="password" [(ngModel)]="model.password" placeholder="Password" id="">
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
